<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">    
</head>

{% block content %}
<div class="container">
    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" {% if success or error_message%}style="display: none;" {% endif %}>Guardar</button>
    </form>
</div>


{% if success %}
<div id="modalSuccess" class="modal">
  <div class="modal-content">
      <p>{{ message }}</p>
    </div>
</div>
{% endif %}

{% if error_message %}
<div id="modalError" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>{{ error_message }}</p>
    <a href="{% url 'Usuarios:create_user' %}" class="waves-effect waves-light btn-flat blue white-text">Volver al
      Formulario</a>
  </div>
</div>
{% endif %}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'js/Success.js' %}"></script>
{% endblock %}
