{% extends "base.html" %}

{% block content %}
<h1>Lista de Productos</h1>


<div class="text-right">
    <a href="{% url 'Producto:agregar_producto' %}" class="btn btn-custom">Crear Producto</a>
</div>


<div class="form-container">
    <form method="get" action="{% url 'Producto:listar_productos' %}" id="search-form">
        <div>
            <input type="text" name="nombre" id="search-input" placeholder="Buscar por nombre" value="{{ nombre }}">
        </div>
        <button type="submit">BUSCAR</button>
        <button type="button" id="clear-button">Limpiar</button>
    </form>
</div>

<div id="search-results">
    <!-- Los resultados de la búsqueda se mostrarán aquí -->
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio Compra</th>
            <th>Precio Venta</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio_compra|floatformat:2 }}</td>
            <td>{{ producto.precio_venta }}</td>
            <td>{{ producto.stock }}</td>
            <td>
                <a href="{% url 'Producto:editar_producto' producto.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'Producto:eliminar_producto' producto.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Escuchar el evento de cambio en el campo de entrada de búsqueda
    $('#search-input').on('input', function() {
        var searchTerm = $(this).val();

        // Realizar una solicitud AJAX para buscar productos por nombre
        $.ajax({
            url: "{% url 'Producto:producto-search' %}",  // Asegúrate de cambiar esto a la URL de tu vista de búsqueda
            method: "GET",
            data: {nombre: searchTerm},
            success: function(data) {
                // Actualizar el cuerpo de la tabla con los datos recibidos
                $('table.table tbody').html(data.html_result); // Asumiendo que 'data.html_result' contiene filas de tabla
            }
        });
    });
});

    $('#clear-button').on('click', function() {
    // Limpiar el campo de búsqueda y el div de resultados
    $('#search-input').val('');
    $('#search-results').html('');

    // Disparar el clic en el botón de buscar para cargar todos los productos
    $('#search-input').click();
    });

</script>


<style>

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    gap: 10px; /* Espacio entre los elementos del formulario */
    align-items: center;
}

.label-title {
    font-weight: bold;
    margin-right: 5px;
}

.form-container input,
.form-container button {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    background-color: #f60; /* Color de fondo del botón similar al de la imagen */
    color: white;
    border: none;
}

.clear-button{
    background-color: antiquewhite;
    color: black;
    border: none;
}

.align-right {
    display: block;  /* Hace que el enlace se comporte como un bloque */
    text-align: right;  /* Alinea el contenido del bloque a la derecha */
    margin-bottom: 10px;  /* Espacio debajo del botón para separación */
}

.btn-custom {
    background-color: #0c6936; /* Cambia el color de fondo a naranja */
    color: #ffffff; /* Cambia el color del texto a blanco */
    /* Puedes ajustar otros estilos según tus preferencias */
}
</style>
{% endblock %}
