{% extends "base.html" %}
{% load humanize %}
{% block content %}
<style>
    /* Estilo Responsive para el campo de busqueda y botones */
    /* Estilos predeterminados para pantallas más grandes */
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-container input,
.form-container button {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

/* Estilos para pantallas más pequeñas (ancho máximo de 600px) */
@media (max-width: 600px) {
    .form-container {
        flex-direction: column; /* Apila los elementos verticalmente en pantallas más pequeñas */
    }

    .form-container form {
        flex-direction: column; /* Apila los elementos verticalmente en pantallas más pequeñas */
    }

    .form-container input,
    .form-container button {
        width: 100%; /* Ocupa todo el ancho disponible en pantallas más pequeñas */
    }
}

/*tablas y botones*/
/* Estilos predeterminados para pantallas más grandes */
.table th,
.table td {
    text-align: center;
}

/* Estilos para pantallas más pequeñas (ancho máximo de 600px) */
@media (max-width: 600px) {
    .table th,
    .table td {
        text-align: left; /* Alinea el texto a la izquierda en pantallas más pequeñas */
    }

    .table td a {
        display: block; /* Hace que los enlaces sean bloques para que ocupen todo el ancho disponible */
        margin-bottom: 5px; /* Añade espacio entre los botones */
    }
}

</style>
<style>
    /* Estilos adicionales para el modal */
    /* CSS global */
    .swal-popup.my-custom-modal-class {
      background-color: #E4E9F7 !important;
    }
</style>
<h1>Lista de Productos</h1>



    <div class="botones-contenedor">
        <button id="botonAbrirModal">Abrir Reporte</button>
        <button id="botonImprimirPDFSinFiltros">Imprimir Inventario</button>
    </div>

<div class="row">
    <div class="col-md-6">
      <h4>Buscar por nombre:</h4>
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="filtro_nombre" id="search-input" placeholder="Ingrese el nombre...">
      </div>
    </div>
    <div class="col-md-6 text-right">
        <a href="#" id="crearProducto" class="btn btn-success">Crear Producto</a>
    </div>
  </div>

<div id="search-results">
    <!-- Los resultados de la búsqueda se mostrarán aquí -->
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio Compra</th>
            <th>Precio Venta</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio_compra|floatformat:2|intcomma }}</td>
            <td>{{ producto.precio_venta|floatformat:2|intcomma }}</td>
            <td>{{ producto.stock|floatformat:2|intcomma }}</td>
            <td>
                
                <a href="#" class="editar-btn btn btn-warning" data-userid="{{ producto.id }}" >Editar </a>  
                <a href="{% url 'Producto:eliminar_producto' producto.id %}" class="eliminar-btn btn btn-danger">Eliminar</a>
                <button class="btn btn-secondary btn-stock" data-toggle="modal" data-target="#stockModal" 
                data-id="{{ producto.id }}" data-nombre="{{ producto.nombre }}" data-stock="{{ producto.stock }}">+/-</button>

            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No se encontraron productos</td>
        </tr>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <ul class="pagination">
        {% if productos.has_previous %}
            <li class="waves-effect">
                <a href="?page=1" class="start">
                    << Inicio
                </a>
            </li>
            <li class="waves-effect">
                <a href="?page={{ productos.previous_page_number }}" class="prev">
                    < Atrás
                </a>
            </li>
        {% endif %}

        {% for i in productos.paginator.page_range %}
            {% if productos.number == i %}
                <li class="active">
                    <span>{{ i }}</span>
                </li>
            {% elif i > productos.number|add:'-3' and i < productos.number|add:'3' %}
                <li class="waves-effect">
                    <a href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if productos.has_next %}
            {% if productos.number|add:'3' < productos.paginator.num_pages %}
                <li class="waves-effect">
                    <span>...</span>
                </li>
            {% endif %}
            <li class="waves-effect">
                <a href="?page={{ productos.next_page_number }}" class="next">
                    Siguiente >
                </a>
            </li>
            <li class="waves-effect">
                <a href="?page={{ productos.paginator.num_pages }}" class="last">
                    Última Página >>
                </a>
            </li>
        {% endif %}
    </ul>
</div>


<div id="ProductosModal" class="modal bd-example-modal-lg">
    <div class="modal-dialog modal-dialog-custom"> 
      <div class="modal-content">
        <div class="modal-header bg-info">
          <h3 class="modal-title text-dark">REPORTE DE INVENTARIO</h3>
        </div>
        <br>
            <div class="modal-body">
            <!-- El contenido del modal se cargará aquí -->
            </div>
        <div class="modal-footer bg-dark">
            <div class="form-group">
                <label for="filtroProducto">Producto:</label>
                <input type="text" id="filtroProducto" placeholder="Filtrar por producto...">
                <div class="resultados-busqueda" style="position: absolute; z-index: 1000;"></div>                        
            </div>

            <div class="form-group">
                <label for="filtroTipoProducto">Tipo Producto:</label>
                <select id="filtroTipoProducto">
                <option value="">Seleccionar Tipo Producto</option>
                <!-- Opciones de vendedores -->
                </select>
            </div>

            <div class="form-group">
                <label for="filtroProveedor">Proveedor:</label>
                <select id="filtroProveedor">
                <option value="">Seleccionar Proeedor</option>
                <!-- Opciones de vendedores -->
                </select>
            </div>

            <div class="form-group">
                <label for="filtroStock">Filtrar por Existencia:</label>
                <select id="filtroStock">
                <option value="">Seleccionar Opcion</option>
                <!-- Opciones de vendedores -->
                </select>
            </div>
            
          <button type="button" id="consultar" class="btn btn-primary">CONSULTAR</button>
          <button type="button" id="botonImprimirPDF" class="btn btn-danger" data-dismiss="modal">Imprimir</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar<i class="fas fa-window-close"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div id="stockModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stockModalLabel">Actualizar Stock</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="stockProducto">
                    <div><h3>Existencias de: </h3><span id="nombreProducto"></span></div>
                    <div style="text-align:right; font-weight:bold;"><h3>Stock Actual: <span id="stockActual"></span> Unidades</h3></div>
                </div>
                
                <form id="formActualizarStock">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="cantidadAumentar">Aumentar</label>
                        <input type="number" class="form-control" id="cantidadAumentar" placeholder="Ingrese cantidad a aumentar" step="0.01">
                    </div>
                    <div class="form-group">
                        <label for="cantidadDisminuir">Disminuir</label>
                        <input type="number" class="form-control" id="cantidadDisminuir" placeholder="Ingrese cantidad a disminuir" step="0.01">
                    </div>
                    <input type="hidden" id="idProducto" name="producto_id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-aceptar" onclick="actualizarStockProducto()">Aceptar</button>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
$(document).ready(function(){
    // Al hacer clic en "Crear Nuevo Producto"
    $("#crearProducto").click(function () {
      var formularioSrc = "{% url 'Producto:agregar_producto' %}";
  
      // SweetAlert para mostrar el modal
      const swalInstance = Swal.fire({
          title: 'Crear Producto',
          html: `<iframe src="${formularioSrc}" width="100%" height="500vh" frameborder="0" style="max-width: 100%;"></iframe>`,
          showCloseButton: true,
          showConfirmButton: false,
          customClass: {
              container: 'swal-container',
              popup: 'swal-popup my-custom-modal-class',
          },
          didClose: () => {
              // Recargar la página completa después de cerrar la ventana flotante
              location.reload();
          },
      });
  
      return false;
  });

    // Al hacer clic en "Editar"
    $(".editar-btn").click(function () {
        var productoId = $(this).data('userid');
        var formulario = "{% url 'Producto:editar_producto' 0 %}".replace('0', productoId);
  
        // SweetAlert para mostrar el modal
        const swalInstance = Swal.fire({
          title: 'Editar Producto',
          html: `<iframe src="${formulario}" width="100%" height="500vh" frameborder="0" style="max-width: 100%;"></iframe>`,
          showCloseButton: true,
          showConfirmButton: false,
          customClass: {
              container: 'swal-container',
              popup: 'swal-popup my-custom-modal-class',
          },
          didClose: () => {
            // Recargar la página completa después de cerrar la ventana flotante
            location.reload();
          },
        });
        return false;
      });

        // Al hacer clic en "Eliminar"
    $(".eliminar-btn").click(function (event) {
        // Detener el comportamiento predeterminado del enlace
        event.preventDefault();

        // Obtener el nombre del producto de la fila actual
        var productName = $(this).closest('tr').find('td:eq(1)').text();

        // Obtener la URL de eliminación del atributo href
        var deleteUrl = $(this).attr('href');

        // Mostrar ventana de confirmación SweetAlert2 con el nombre del producto
        Swal.fire({
            title: '¿Estás seguro?',
            html: `Estás a punto de eliminar el producto:<br><strong>${productName}</strong><br>No podrás revertir esto.`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirigir a la URL de eliminación si se confirma
                window.location.href = deleteUrl;
            }
        });
    });
    

        // Recargar el tamaño de la ventana flotante cuando cambia el tamaño de la ventana
        $(window).resize(function () {
            var newMaxWidth = Math.min(0.9 * $(window).width(), 600);
            $("#ventanaFlotante").css("max-width", newMaxWidth + "px");
        });
    });
</script>


<script>
    // Función para formatear números con comas y dos decimales
    const formatNumber = (value, isPercentage = false) => {
        const number = typeof value === 'string' ? parseFloat(value) : value;
        const formattedNumber = number.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        return isPercentage ? `${formattedNumber}%` : formattedNumber;
        };
      
        // Función para actualizar el modal con datos filtrados
        function actualizarModal(filtroProducto, filtroTipoProducto, filtroProveedor, filtroStock) {
          let url = '/reporte-inventario'; // Asegúrate de que esta URL es correcta y está definida en tu Django urls.py
          let params = new URLSearchParams();
       
        if (filtroProducto) {
            params.append('producto', filtroProducto);
        }
        if (filtroTipoProducto) {
            params.append('tipoproducto', filtroTipoProducto);
        }
        if (filtroProveedor) {
            params.append('proveedor', filtroProveedor);
        }
        if (filtroStock) {
            params.append('stock', filtroStock);
        }
    
        url += `?${params.toString()}`;
      
          fetch(url)
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
              }
              return response.json();
            })
          .then(data => {
              const modalBody = document.querySelector('#ProductosModal .modal-body');
              let htmlContent = `
                  <table>
                      <thead>
                        <tr class="no-border">
                            <th style="text-align: center">Id Prod.</th>
                            <th style="text-align: center">Codigo</th>
                            <th style="text-align: left">Producto</th>
                            <th style="text-align: center">Existencia</th>
                            <th style="text-align: center">P. Costo</th>
                            <th style="text-align: center">P. Venta</th>
                            <th style="text-align: center">T. Costo</th>
                            <th style="text-align: center">T. Venta</th>
                          </tr>
                      </thead>
                      <tbody>`;
      
              data.productos.forEach(producto => {
                  htmlContent += `
                  <tr class="no-border">
                          <td style="text-align: center">${producto.producto_id}</td>
                          <td style="text-align: center">${producto.codigo}</td>
                          <td style="text-align: left">${producto.nombre}</td>
                          <td style="text-align: center">${formatNumber(producto.stock)}</td>
                          <td style="text-align: right">${formatNumber(producto.precio_compra)}</td>
                          <td style="text-align: right">${formatNumber(producto.precio_venta)}</td>
                          <td style="text-align: right">${formatNumber(producto.total_costo)}</td>
                          <td style="text-align: right">${formatNumber(producto.total_venta)}</td>
                      </tr>`;
              });
      
              htmlContent += `
              <tr class="border-top">
                    <td colspan="3" style="border:none; text-align: center;"><strong>Totales:</strong></td>
                    <td style="border:none; text-align: center"><strong>${formatNumber(data.total_stock)}</strong></td>
                    <td colspan="2" style="border:none"></td>
                    <td style="border:none; text-align: right;"><strong>${formatNumber(data.total_costos)}</strong></td>
                    <td style="border:none; text-align: right;"><strong>${formatNumber(data.total_ventas)}</strong></td>
                  </tr>`;
              htmlContent += '</tbody></table>';

        
                      //devuelve el listado para filtrar por tipo producto
        const selectTipoProducto = document.getElementById('filtroTipoProducto');
        const tipoProductoActual = filtroTipoProducto;

        selectTipoProducto.innerHTML = '<option value="">Consulta General</option>';
        data.tiposProducto.forEach(tipoProducto => {
        const option = new Option(tipoProducto.nombre, tipoProducto.valor);
        option.selected = tipoProducto.valor === tipoProductoActual;
        selectTipoProducto.add(option);
        });

        //devuelve el listado para filtra por proveedor
        const selectProveedor = document.getElementById('filtroProveedor');
        const proveedorActual = filtroProveedor; 
    
        selectProveedor.innerHTML = '<option value="">Consulta General</option>';
        data.proveedores.forEach(proveedor => {
        const option = new Option(proveedor, proveedor);
        option.selected = proveedor === proveedorActual; 
        selectProveedor.add(option);
        });

        //devuelve el listado para filtrar por existencia    
        const selectStock = document.getElementById('filtroStock');
        const stockActual = filtroStock;

        selectStock.innerHTML = '<option value="">Consulta General</option>';
        data.estadosStock.forEach(estadoStock => {
        const option = new Option(estadoStock.nombre, estadoStock.valor);
        option.selected = estadoStock.valor === stockActual;
        selectStock.add(option);
        });
    
      
              modalBody.innerHTML = htmlContent;
              $('#ProductosModal').modal('show');
            })
            .catch(error => {
              console.error('There has been a problem with your fetch operation:', error);
            });
        }


    
document.getElementById('botonAbrirModal').addEventListener('click', function() {
    // Resetear los valores de los filtros
    document.getElementById('filtroProducto').value = '';
    document.getElementById('filtroTipoProducto').value = '';
    document.getElementById('filtroProveedor').value = '';
    document.getElementById('filtroStock').value = '';

    // Llamar a actualizarModal con los valores reseteados
    actualizarModal('', '', '', '');
});

    
document.getElementById('consultar').addEventListener('click', function() {
    let filtroProducto = document.getElementById('filtroProducto').value;
    let filtroTipoProducto = document.getElementById('filtroTipoProducto').value;
    let filtroProveedor = document.getElementById('filtroProveedor').value;
    let filtroStock = document.getElementById('filtroStock').value;

    actualizarModal(filtroProducto, filtroTipoProducto, filtroProveedor, filtroStock);
});

    
      
        document.getElementById('botonImprimirPDF').addEventListener('click', function() {
        let filtroProducto = document.getElementById('filtroProducto').value;
        let filtroTipoProducto = document.getElementById('filtroTipoProducto').value;
        let filtroProveedor = document.getElementById('filtroProveedor').value;
        let filtroStock = document.getElementById('filtroStock').value;
      
          let params = new URLSearchParams({
              producto: filtroProducto,
              tipoproducto: filtroTipoProducto,
              proveedor: filtroProveedor,
              stock: filtroStock
          });
      
          window.open(`/reporte-inventario-financiero-pdf/?${params.toString()}`);
        });


    document.addEventListener('DOMContentLoaded', function() {
    const inputProducto = document.getElementById('filtroProducto');
    const resultadosBusqueda = document.querySelector('.resultados-busqueda');

    inputProducto.addEventListener('input', function() {
        const query = this.value;
        if (query.length < 2) {
            resultadosBusqueda.innerHTML = '';
            return;
        }

        fetch(`/buscar-producto2?q=${encodeURIComponent(query)}`)
            .then(response => response.json())
            .then(productos => {
                resultadosBusqueda.innerHTML = '';
                productos.forEach(producto => {
                    const div = document.createElement('div');
                    div.textContent = producto.nombre;
                    div.addEventListener('click', function() {
                        inputProducto.value = this.textContent;
                        resultadosBusqueda.innerHTML = '';
                    });
                    resultadosBusqueda.appendChild(div);
                });
            });
    });

    document.addEventListener('click', function(e) {
        if (e.target !== inputProducto) {
            resultadosBusqueda.innerHTML = '';
        }
    });
});

document.getElementById('botonImprimirPDFSinFiltros').addEventListener('click', function() {
    window.open('/reporte-inventario-pdf/');
});

</script>

<script>
$(document).ready(function() {
    $('#search-input').on('keyup', function() {
        var searchTerm = $(this).val();

        $.ajax({
            url: '/buscar-producto2', // Asegúrate de que esta ruta coincida con tu URL en Django
            type: 'GET',
            data: { search: searchTerm },
            success: function(response) {
                // Actualiza solo el cuerpo de la tabla con la respuesta del servidor
                $('table tbody').html($(response).find('table tbody').html());
            },
            error: function(xhr, status, error) {
                console.error("Error en la solicitud AJAX: ", error);
            }
        });
    });
});

    </script>
    
    <script>
        // Función para preparar y mostrar el modal con los datos del producto
        function prepararModal(id, nombre, stock) {

            stock = parseFloat(stock); // Convierte stock a número
    if (isNaN(stock)) {
        stock = 0; // En caso de que no sea un número, establece un valor por defecto
    }
        $('#idProducto').val(id);
        $('#nombreProducto').text(nombre);

    // Formatea el número para que incluya comas como separadores de miles
        var formattedStock = stock.toLocaleString('en-US', {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
        });
        $('#stockActual').text(formattedStock);
        $('#stockModal').modal('show');
        }
        
    
      // Función para actualizar el stock del producto
function actualizarStockProducto() {
    var productoId = $('#idProducto').val();
    var cantidadAumentar = parseFloat($('#cantidadAumentar').val()) || 0;
    var cantidadDisminuir = parseFloat($('#cantidadDisminuir').val()) || 0;

    console.log("Aumentar: ", cantidadAumentar, " Disminuir: ", cantidadDisminuir); // Depuración

    $.ajax({
        url: '/actualizar-stock/',
        type: 'POST',
        data: {
            'producto_id': productoId,
            'cantidad_aumentar': cantidadAumentar,
            'cantidad_disminuir': cantidadDisminuir,
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
        },
        dataType: 'json',
        success: function (data) {
            console.log(data); 
            if (data.status === 'success') {
                // Actualizar el stock en la tabla sin necesidad de recargar la página
                var filaActualizada = $('td').filter(function () {
                    return $(this).text() === productoId;
                }).closest('tr');

                console.log(filaActualizada); // Depura la fila actualizada

                // Calcula el nuevo stock y actualiza la interfaz de usuario
                var stockActual = parseFloat(filaActualizada.find('td:eq(5)').text());
                var nuevoStock = stockActual + cantidadAumentar - cantidadDisminuir;
                actualizarFilaDeTabla(productoId, nuevoStock);

                // Cerrar el modal después de actualizar el stock
                $('#stockModal').modal('hide');

                // Recargar la página para reflejar los cambios
                location.reload();
            } else {
                alert(data.mensaje);
            }
        }
    });
}


    function actualizarFilaDeTabla(productoId, nuevoStock) {
    var filaActualizada = $('td').filter(function () {
        return $(this).text() === productoId;
    }).closest('tr');

    filaActualizada.find('td:eq(5)').text(nuevoStock.toFixed(2));
}
  
        $(document).ready(function() {
            $('.btn-stock').on('click', function() {
                var id = $(this).data('id');
                var nombre = $(this).data('nombre');
                var stock = $(this).data('stock');
                prepararModal(id, nombre, stock);
            });
    
            // Enlaza la función actualizarStockProducto al botón de "Aceptar" en tu modal
            $('#botonAceptarActualizarStock').on('click', actualizarStockProducto);
        });
    </script>
    
        
<style>

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    gap: 10px; /* Espacio entre los elementos del formulario */
    align-items: center;
}

.label-title {
    font-weight: bold;
    margin-right: 5px;
}

.form-container input,
.form-container button {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    background-color: #2980B9; /* Color de fondo del botón similar al de la imagen */
    color: white;
    border: none;
}

.clear-button{
    background-color: antiquewhite;
    color: black;
    border: none;
}

.align-right {
    display: block;  /* Hace que el enlace se comporte como un bloque */
    text-align: right;  /* Alinea el contenido del bloque a la derecha */
    margin-bottom: 10px;  /* Espacio debajo del botón para separación */
}

.btn-custom {
    background-color: #0c6936; /* Cambia el color de fondo a naranja */
    color: #ffffff; /* Cambia el color del texto a blanco */
    /* Puedes ajustar otros estilos según tus preferencias */
}

/*css para el modal*/
.modal-header {
    background-color: #17a2b8; /* Replace with the actual color code */
}

.modal-title {
    color: #000000; /* Replace with the actual color code */
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f5f5f5; /* Replace with the actual color code */
}

.btn-danger {
    background-color: #dc3545; /* Replace with the actual color code */
    border-color: #dc3545; /* Replace with the actual color code */
}

#ProductosModal .modal-body {
  max-height: 500px; /* Altura máxima en píxeles */
  overflow-y: auto; /* Muestra una barra de desplazamiento si el contenido excede la altura máxima */
}

  .modal-dialog-custom {
  max-width: 90%; /* O cualquier otro valor que prefieras */
  margin: 30px auto; /* Centra el modal horizontalmente */
}

/* Puedes también asegurarte de que el modal no sea más ancho que la pantalla */
@media (min-width: 992px) {
  .modal-dialog-custom {
    max-width: 80%; /* O cualquier otro valor que prefieras */
  }
} 


/* Estilo para la tabla y el encabezado */
#ProductosModal .modal-body {
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}

#ProductosModal table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
  border-collapse: collapse; /* Opcional: para que los bordes de la tabla se vean mejor */
}

#ProductosModal thead th {
  position: sticky;
  top: 0; /* Ajusta esto si hay algún otro elemento fijo en la parte superior, como un menú de navegación */
  background: #17a2b8; /* O el color de fondo que desees, para evitar que se vea contenido a través del encabezado */
  color: white;
  z-index: 10; /* Asegura que el encabezado se muestre por encima del contenido al desplazarse */
}

#ProductosModal thead {
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); /* Opcional: agrega sombra para un efecto de elevación */
}

.th-header {
  background-color:#17a2b8; /* Cambia esto por el color de fondo que prefieras */
  color: white; /* Color del texto */
}

.resultados-busqueda {
    position: absolute;
    top: 100%; /* Asegúrate de que top esté configurado para posicionarlo debajo del input */
    left: 0;
    width: 100%;
    background-color: white;
    color: black;

    /* Otros estilos... */
}

.resultados-busqueda div:hover {
    background-color: #f0f0f0;
} 

.form-group {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    margin-bottom: 10px; /* Añade un poco de espacio entre los grupos */
    position: relative;
    color: white;
}

.form-group label {
    margin-bottom: 5px; /* Añade un poco de espacio entre la etiqueta y el campo de entrada */
}

/* Opcional: Añadir media queries para ajustar para pantallas más pequeñas */
@media (max-width: 600px) {
    .form-group {
        width: 100%; /* Ajusta el ancho en dispositivos más pequeños */
    }
}

.filtroProveedor{
    color: black;
}


#botonAbrirModal {
    background-color: #3498DB; /* Azul */
    color: white;
    border: 3px double #2E86C1; /* Doble borde más oscuro que el fondo */
    border-radius: 15px; /* Bordes redondos */
    padding: 5px 20px; /* Espacio interior */
    font-size: 16px; /* Tamaño del texto */
    text-align: center; /* Alineación del texto */
    cursor: pointer; /* Cursor tipo mano al pasar por encima */
    display: inline-block; /* Comportamiento en línea */
    margin: 4px 2px; /* Margen alrededor del botón */
    text-decoration: none; /* Sin subrayado */
    transition: all 0.3s; /* Transición suave para hover y focus */
}

#botonAbrirModal:hover, #botonAbrirModal:focus {
    background-color: #2980B9; /* Azul más oscuro para el hover */
    color: #FFF; /* Texto blanco */
    border: 3px double #2471A3; /* Doble borde aún más oscuro para el hover */
}

#botonImprimirPDFSinFiltros {
    background-color: gray; /* Azul */
    color: white;
    border: 3px double gray; /* Doble borde más oscuro que el fondo */
    border-radius: 15px; /* Bordes redondos */
    padding: 5px 20px; /* Espacio interior */
    font-size: 16px; /* Tamaño del texto */
    text-align: center; /* Alineación del texto */
    cursor: pointer; /* Cursor tipo mano al pasar por encima */
    display: inline-block; /* Comportamiento en línea */
    margin: 4px 2px; /* Margen alrededor del botón */
    text-decoration: none; /* Sin subrayado */
    transition: all 0.3s; /* Transición suave para hover y focus */
}

#botonImprimirPDFSinFiltros:hover, #botonImprimirPDFSinFiltros:focus {
    background-color: red; /* Azul más oscuro para el hover */
    color: #FFF; /* Texto blanco */
    border: 3px double red; /* Doble borde aún más oscuro para el hover */
}

.botones-contenedor {
    text-align: right; /* Alinea los botones a la derecha */
}

</style>


<style>
    /*estilo para boton crear producto y buscar producto*/
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    h4 {
      margin-top: 10;
      margin-left: 25px;
    }
  
    /* Estilo para el botón "Abrir Reporte" */
    .btn-custom {
      margin-top: 10px;
      margin-right: 25px;
    }
    .form-control{
      margin-left: 25px;
    }
  </style>

<style>
    /*css para el modal de actualizar stock*/
    .modal-header {
        background-color: blue; /* Color de fondo oscuro para el encabezado */
        color: white; /* Texto blanco */
    }

    .modal-title{
        color: white;
    }

    #stockModal .modal-body {
        background-color: #333; /* Color de fondo oscuro para el cuerpo */
        color: #fff; /* Texto blanco */
        max-height: 400px; /* Altura máxima del cuerpo del modal */
        overflow-y: auto; /* Permite el desplazamiento si el contenido excede esta altura */
    }

    .modal-footer {
        background-color: #1a1a1a; /* Color de fondo oscuro para el pie */
        border-top: 0; /* Eliminar el borde superior */
    }

    .modal-content {
        border-radius: 0; /* Bordes cuadrados */
    }

    #stockModal .modal-dialog {
        margin-top: 10%; /* Espaciado superior */
        max-width: 600px; /* Máximo ancho que el modal puede tener */
        min-width: 300px; /* Mínimo ancho que el modal puede tener */
        width: auto; /* Esto hará que el ancho del modal se ajuste al contenido hasta el máximo establecido */
    }

    #stockModal .form-group label {
        color: #fff; /* Texto blanco */
    }

    #stockModal .form-control {
        background-color: #555; /* Color de fondo para los campos de entrada */
        color: #fff; /* Color de texto para los campos de entrada */
        border: 0; /* Sin bordes */
        box-shadow: none; /* Sin sombra */
        width: 90%; /* Hace que los campos de entrada se expandan al máximo ancho del contenedor */
        box-sizing: border-box; /* Asegura que el padding y border estén incluidos en el ancho total */
    }

    #stockModal .form-control::placeholder {
        color: #bbb; /* Color de texto para el placeholder */
    }

    #stockModal .form-control:focus {
        background-color: #666; /* Color de fondo al enfocar */
    }

    .btn-secondary {
        background-color: #666; /* Color de fondo para botón secundario */
        border-color: #666; /* Color de borde para botón secundario */
    }

    .btn-aceptar {
    background-color: #4CAF50; /* Nuevo color de fondo */
    color: #FFFFFF; /* Nuevo color de texto */
    /* Agrega aquí cualquier otra personalización de estilo que desees */
    }

    .btn-aceptar:hover {
    background-color: #45a049; /* Color de fondo al pasar el mouse */
    /* Puedes agregar también personalizaciones para el estado hover si lo deseas */
    }

    .close {
        color: #fff; /* Color del botón de cerrar */
        opacity: 1; /* Hacerlo totalmente opaco */
    }

    #stockProducto > div:last-child {
    text-align: right;
    font-weight: bold;
}

</style>
{% endblock %}
