{% extends "base.html" %}
{% load humanize %}
{% block content %}
<h1>Lista de Clientes</h1>

<div class="text-right">
    <a href="#" id="crearCliente" class="btn btn-custom">Crear Cliente <i class='icon-prefix bx bx-user-plus' style="padding: 3px; border-radius: 5px;"></i></a>
</div>

<div class="form-container">
    <form method="get" action="{% url 'Clientes:cliente-list' %}" id="search-form">
        <div>
            <input type="text" name="nombre" id="search-input" placeholder="Buscar por nombre" value="{{ nombre }}">
        </div>
        <button type="submit">BUSCAR</button>
        <button type="button" id="clear-button">Limpiar</button>
    </form>
</div>

<div id="search-results">
    <!-- Los resultados de la búsqueda se mostrarán aquí -->
</div>

<br>
<table class="table">
    <thead>
        <tr>
            <th>NIT</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Límite de Crédito</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nit }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.correo }}</td>
            <td>{{ cliente.limitecredito|floatformat:2|intcomma }}</td>
            <td>
                <a href="#" class="editar-btn btn btn-warning btn-sm" data-userid="{{ cliente.id }}">Editar</a>
                <a href="#" class="eliminar-btn btn btn-danger btn-sm" data-userid="{{ cliente.id }}">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">No hay clientes registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <ul class="pagination">
        {% if clientes.has_previous %}
            <li class="waves-effect">
                <a href="?page=1" class="start">
                    << Inicio
                </a>
            </li>
            <li class="waves-effect">
                <a href="?page={{ clientes.previous_page_number }}" class="prev">
                    < Atrás
                </a>
            </li>
        {% endif %}
  
        {% for i in clientes.paginator.page_range %}
            {% if clientes.number == i %}
                <li class="active">
                    <span>{{ i }}</span>
                </li>
            {% elif i > clientes.number|add:'-3' and i < clientes.number|add:'3' %}
                <li class="waves-effect">
                    <a href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
  
        {% if clientes.has_next %}
            {% if clientes.number|add:'3' < clientes.paginator.num_pages %}
                <li class="waves-effect">
                    <span>...</span>
                </li>
            {% endif %}
            <li class="waves-effect">
                <a href="?page={{ clientes.next_page_number }}" class="next">
                    Siguiente >
                </a>
            </li>
            <li class="waves-effect">
                <a href="?page={{ clientes.paginator.num_pages }}" class="last">
                    Última Página >>
                </a>
            </li>
        {% endif %}
    </ul>
  </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Escuchar el evento de cambio en el campo de entrada de búsqueda
    $('#search-input').on('input', function() {
        var searchTerm = $(this).val();

        // Realizar una solicitud AJAX para buscar clientes por nombre
        $.ajax({
            url: "{% url 'Clientes:cliente-search' %}",  // Cambia esto a la URL de tu vista de búsqueda
            method: "GET",
            data: {nombre: searchTerm},
            success: function(data) {
                // Actualizar el contenido del div de resultados con los datos recibidos
                $('#search-results').html(data.html_result);
            }
        });
    });

    // Escuchar el clic en el botón de limpiar
    $('#clear-button').on('click', function() {
        // Limpiar el campo de búsqueda y el div de resultados
        $('#search-input').val('');
        $('#search-results').html('');
    });

    // Al hacer clic en "Crear Nuevo Cliente"
    $("#crearCliente").click(function () {
      var formularioSrc = "{% url 'Clientes:cliente-create' %}";
  
      // SweetAlert para mostrar el modal
      const swalInstance = Swal.fire({
          title: 'Crear Cliente',
          html: `<iframe src="${formularioSrc}" width="100%" height="500vh" frameborder="0" style="max-width: 100%;"></iframe>`,
          showCloseButton: true,
          showConfirmButton: false,
          customClass: {
              container: 'swal-container',
              popup: 'swal-popup my-custom-modal-class',
          },
          didClose: () => {
              // Recargar la página completa después de cerrar la ventana flotante
              location.reload();
          },
      });
  
      return false;
    });

      // Al hacer clic en "Editar"
    $(".editar-btn").click(function () {
      var clienteId = $(this).data('userid');
      var formulario = "{% url 'Clientes:cliente-edit' 0 %}".replace('0', clienteId);

      // SweetAlert para mostrar el modal
      const swalInstance = Swal.fire({
        title: 'Editar Cliente',
        html: `<iframe src="${formulario}" width="100%" height="500vh" frameborder="0" style="max-width: 100%;"></iframe>`,
        showCloseButton: true,
        showConfirmButton: false,
        customClass: {
            container: 'swal-container',
            popup: 'swal-popup my-custom-modal-class',
        },
        didClose: () => {
          // Recargar la página completa después de cerrar la ventana flotante
          location.reload();
        },
      });
      return false;
    });

    // Al hacer clic en "Eliminar"
    $(".eliminar-btn").click(function () {
      var clienteId = $(this).data('userid');
      var formulario = "{% url 'Clientes:cliente-delete' 0 %}".replace('0', clienteId);

          // SweetAlert para mostrar el modal
          const swalInstance = Swal.fire({
            title: 'Eliminar Cliente',
            html: `<iframe src="${formulario}" width="100%" height="500vh" frameborder="0" style="max-width: 100%;"></iframe>`,
            showCloseButton: true,
            showConfirmButton: false,
            customClass: {
                container: 'swal-container',
                popup: 'swal-popup my-custom-modal-class',
            },
            didClose: () => {
              // Recargar la página completa después de cerrar la ventana flotante
              location.reload();
            },
          });
          return false;
        })


});
</script>

<style>
    
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    gap: 10px; /* Espacio entre los elementos del formulario */
    align-items: center;
}

.label-title {
    font-weight: bold;
    margin-right: 5px;
}

.form-container input,
.form-container button {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    background-color: #f60; /* Color de fondo del botón similar al de la imagen */
    color: white;
    border: none;
}

.clear-button{
    background-color: antiquewhite;
    color: black;
    border: none;
}


.align-right {
    display: block;  /* Hace que el enlace se comporte como un bloque */
    text-align: right;  /* Alinea el contenido del bloque a la derecha */
    margin-bottom: 10px;  /* Espacio debajo del botón para separación */
}

.btn-custom {
    background-color: #0c6936; /* Cambia el color de fondo a naranja */
    color: #ffffff; /* Cambia el color del texto a blanco */
    /* Puedes ajustar otros estilos según tus preferencias */
}


/* Estilos adicionales para el modal */
/* CSS global */
.swal-popup.my-custom-modal-class {
    background-color: #E4E9F7 !important;
}

</style>
{% endblock %}
