/* Estilos para paginación formal y compacta */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination ul.pagination {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.pagination li {
  margin: 0 3px;
  min-width: 30px;
  height: 36px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a,
.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  height: 36px;
  padding: 0 8px;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  border: 1px solid #ccc;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination .current {
  background-color: #4CAF50;
  color: #fff;
}

.pagination a.prev,
.pagination a.next {
  background-color: #3498db;
  color: #fff;
  height: 36px;
}

.pagination a.prev:hover, 
.pagination a.next:hover {
  background-color: #2980b9;
}

.pagination i {
  margin: 0 3px;
  margin-right: 1px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .pagination li {
      margin: 0 2px;
      min-width: 26px;
      height: 30px;
  }

  .pagination a,
  .pagination span {
      min-width: 26px;
      height: 30px;
      padding: 0 5px;
      font-size: 10px;
  }
}
