{% extends "base.html" %}

{% block content %}
<h2>Crear Venta</h2>
    <form method="post">
        {% csrf_token %}
        {{ venta_form.as_p }}  <!-- Mostrar el formulario de venta -->
        
        <h2>Detalles de Venta</h2>
        {{ detalle_formset.management_form }}  <!-- Necesario para formsets -->
        {% for form in detalle_formset %}
            <div class="detalle">
                {{ form.as_p }}  <!-- Mostrar cada formulario de detalle de venta -->
            </div>
        {% endfor %}
        
        <button type="submit">Guardar Venta</button>
    </form>

{% endblock %}

