{% extends 'base.html' %}

{% block content %}
    <h1>Lista de Ventas</h1>
    <a href="{% url 'Ventas:AddSale' %}" class="btn btn-primary">Crear Nueva Venta</a>
    <table>
        <thead>
            <tr>
                <th>ID Venta</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Total</th>
                <th>E. Fisico</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.id }}</td>
                <td>{{ venta.fecha_creacion }}</td>
                <td>{{ venta.cliente.nombre }}</td>
                <td>{{ venta.total }}</td>
                <td>{{ venta.comentarios }}</td>
                <td><a href="{% url 'Ventas:detalle_venta' venta.id %}">Ver Detalles</a></td>
                <td><a href="{% url 'Ventas:confirmar_eliminar_venta' venta.id %}">Eliminar</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay ventas registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
