{% extends 'base.html' %}
{% load humanize %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% block content %}
  <h1>Cuentas por Cobrar</h1>

  <div class="row">
    <div class="col-md-6">
      <h4>Buscar por nombre:</h4>
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="filtro_nombre" id="filtro-nombre" placeholder="Ingrese el nombre...">
      </div>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-primary" id="botonAbrirModal" type="button">Abrir Reporte CXC</button>
    </div>
  </div>

  <div class="scrollable-content">
    <table class="data-clientes">
      <thead class="clientes-head">
        <tr>
          <th class="text-left">Nombre Cliente</th>
          <th class="text-center">Documentos</th>
          <th class="text-center">Total Inicial</th>
          <th class="text-center">Abonos</th>
          <th class="text-center">Saldo Pendiente</th>
          <th class="text-center">Cobrar</th>
        </tr>
      </thead>
      <tbody class="clientes-tbody">
        {% for cliente, datos in ventas_por_cliente.items %}
          <tr>
            <td class="text-left">{{ cliente.nombre }}</td>
            <td class="text-center">{{ datos.ventas|length|intcomma }}</td>
            <td class="text-right">{{ datos.total_inicial|floatformat:2|intcomma }}</td>
            <td class="text-right">{{ datos.total_abonos|floatformat:2|intcomma }}</td>
            <td class="text-right">{{ datos.saldo_pendiente|floatformat:2|intcomma }}</td>
            <td class="text-center">
              <a href="{% url 'Ventas:lista_creditos' cliente.id %}" class="btn btn-info ver-detalle-btn">COBRAR</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot class="clientes-tfoot">
        <tr>
          <td class="text-left"><h4>Totales:</h4></td>
          <td class="text-center"><h4>{{ suma_total_documentos|intcomma }}</h4></td>
          <td class="text-right"><h4>{{ suma_total_inicial|floatformat:2|intcomma }}</h4></td>
          <td class="text-right"><h4>{{ suma_abonos|floatformat:2|intcomma }}</h4></td>
          <td class="text-right"><h4>{{ suma_saldo_pendiente|floatformat:2|intcomma }}</h4></td>
          <td class="text-right"><h4></h4></td>
        </tr>
      </tfoot>
    </table>
  </div>
  

<!--modal de cuentas por cobrar-->
<div id="CuentascxcModal" class="modal bd-example-modal-lg">
  <div class="modal-dialog modal-dialog-custom"> 
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h3 class="modal-title text-dark">ESTADO DE CUENTA POR COBRAR</h3>
      </div>
      <br>
      
      <div class="modal-body">
        <!-- El contenido del modal se cargará aquí -->
      </div>
      <div class="modal-footer bg-dark">
        <div class="form-group">
          <label for="filtroCliente">Cliente:</label>
          <input type="text" id="filtroCliente" placeholder="Filtrar por cliente...">
          <div class="resultados-busqueda" style="position: absolute; z-index: 1000;"></div>                        
      </div>

      <div class="form-group">
          <label for="filtroVendedor">Vendedor:</label>
          <select id="filtroVendedor">
              <option value="">Seleccionar Vendedor</option>
              <!-- Opciones de vendedores -->
              <option value="" disabled selected>Consulta General</option>
          </select>
    </div>
        <button type="button" id="consultar" class="btn btn-primary">CONSULTAR</button>
        <button type="button" id="botonImprimirPDF" class="btn btn-danger" data-dismiss="modal">Imprimir</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar<i class="fas fa-window-close"></i></button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  // Función para formatear números con comas y dos decimales
  const formatNumber = (value) => {
  if (value === undefined || value === null) return '0.00';
  const number = typeof value === 'string' ? parseFloat(value) : value;
  return number.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
};


  // Función para actualizar el modal con datos filtrados
  function actualizarModal(filtroCliente, filtroVendedor) {
    let url = '/reporte-cuentasxcobrar';
    let params = new URLSearchParams();
    
    if (filtroCliente) {
            params.append('cliente', filtroCliente);
        }
    if (filtroVendedor) {
      params.append('vendedor', filtroVendedor);
    }

    url += params.toString() ? `?${params.toString()}` : '';

    fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok ' + response.statusText);
        }
        return response.json();
      })
    .then(data => {
        const modalBody = document.querySelector('#CuentascxcModal .modal-body');
        let htmlContent = `
            <table class="lista-documentos">
                <thead>
                  <tr class="no-border">
                        <th>DOC</th>
                        <th>FISICO</th>
                        <th>CREACION</th>
                        <th>VENCE</th>
                        <th>DIASV</th>
                        <th>MONTO</th>
                        <th>COBRAR</th>
                        <th>SIN VENCER</th>
                        <th>31-60 DIAS</th>
                        <th>61-90 DIAS</th>
                        <th>91-120 DIAS</th>
                        <th>+121 DIAS</th>
                        <th>T. DIAS</th>
                    </tr>
                </thead>
                <tbody>`;

        data.clientes.forEach(cliente => {
            htmlContent += `<tr class="cliente-nombre"><td colspan="13" style="border:none;"><strong>CLIENTE: ${cliente.nombre}</strong></td></tr>`;
            cliente.ventas_credito.forEach(venta => {
                htmlContent += `
                <tr class="no-border">
                        <td>${venta.id}</td>
                        <td>${venta.comentarios}</td>
                        <td>${venta.fecha_creacion}</td>
                        <td>${venta.fecha_vencimiento}</td>
                        <td>${venta.dias_vencidos}</td>
                        <td>${formatNumber(venta.total)}</td>
                        <td>${formatNumber(venta.saldo_pendiente)}</td>
                        <td>${venta.dias_vencidos <= 0 ? formatNumber(venta.saldo_pendiente) : '0.00'}</td>
                        <td>${venta.dias_vencidos >= 1 && venta.dias_vencidos <= 60 ? formatNumber(venta.saldo_pendiente) : '0.00'}</td>
                        <td>${venta.dias_vencidos >= 61 && venta.dias_vencidos <= 90 ? formatNumber(venta.saldo_pendiente) : '0.00'}</td>
                        <td>${venta.dias_vencidos >= 91 && venta.dias_vencidos <= 120 ? formatNumber(venta.saldo_pendiente) : '0.00'}</td>
                        <td>${venta.dias_vencidos > 121 ? formatNumber(venta.saldo_pendiente) : '0.00'}</td>
                        <td>${venta.total_dias}</td>
                    </tr>`;
            });
            htmlContent += `
            <tr class="border-top">
                  <td class="totales-cliente" colspan="5" style="border:none;"><strong>Totales para ${cliente.nombre}</strong></td>
                  <td style="border:none;"><strong>${formatNumber(cliente.total_monto)}</strong></td>
                  <td style="border:none;"><strong>${formatNumber(cliente.total_cobrar)}</strong></td>
                  <td style="border:none;"><strong>${formatNumber(cliente.total_sin_vencer)}</strong></td>
                  <td style="border:none;"><strong>${formatNumber(cliente.total_1_30)}</strong></td>
                  <td style="border:none;"><strong>${formatNumber(cliente.total_61_90)}</strong></td>
                  <td style="border:none;"><strong>${formatNumber(cliente.total_91_120)}</strong></td>
                  <td style="border:none;"><strong>${formatNumber(cliente.total_121_mas)}</strong></td>
                </tr>`;
                htmlContent += `<tr class="no-border"><td colspan="13"></tr>`;
        });
     
      htmlContent += `</tbody></table>`;

        // Agregar el resumen al HTML
     
      htmlContent += `
          
          <div>
              <table class="resumen">
                  <tr>
                    <tr>
                    <td class="th-espacio" colspan="3" style="border:none;"></td> <!-- Asegúrate de que el colspan aquí sea el número correcto de columnas antes de "31-60 días" -->
                    <td class="th-titulo" colspan="4" style="border: 1px solid black; text-align: center;">VENCIDO</td> <!-- Colspan es el número de columnas desde "31-60 días" a "+121 días" -->
                    </tr>
                      <th class="th-header">TOTAL FACTURADO</th>
                      <th class="th-header">COBRAR</th>
                      <th class="th-header">SIN VENCER</th>
                      <th class="th-header">31-60 DIAS</th>
                      <th class="th-header">61-90 DIAS</th>
                      <th class="th-header">91-120 DIAS</th>
                      <th class="th-header">+121 DIAS</th>
                  </tr>
                  <tr>
                      <td>${formatNumber(data.resumen.total_facturado)}</td>
                      <td>${formatNumber(data.resumen.total_cobrar)}</td>
                      <td>${formatNumber(data.resumen.total_sin_vencer)}</td>
                      <td>${formatNumber(data.resumen.total_1_30_dias)}</td>
                      <td>${formatNumber(data.resumen.total_61_90_dias)}</td>
                      <td>${formatNumber(data.resumen.total_91_120_dias)}</td>
                      <td>${formatNumber(data.resumen.total_mas_121_dias)}</td>
                  </tr>
                  

              </table>
          </div>`;
          const selectVendedor = document.getElementById('filtroVendedor');
        const vendedorActual = filtroVendedor; // Guardar el vendedor seleccionado actualmente

        selectVendedor.innerHTML = '<option value="">Consulta General</option>'; // Opción predeterminada
        data.vendedores.forEach(vendedor => {
          const option = new Option(vendedor, vendedor);
          option.selected = vendedor === vendedorActual; // Mantener seleccionado el vendedor actual
          selectVendedor.add(option);
        });

        modalBody.innerHTML = htmlContent;
        $('#CuentascxcModal').modal('show');
      })
      .catch(error => {
        console.error('There has been a problem with your fetch operation:', error);
      });
  }

  // Event listeners para los controles de filtro
  //document.getElementById('filtroCliente').addEventListener('input', function() {
  //  actualizarModal(this.value, document.getElementById('filtroVendedor').value);
  //});

  document.getElementById('filtroVendedor').addEventListener('change', function() {
    actualizarModal(document.getElementById('filtroCliente').value, this.value);
  });

  // Event listener para el botón que abre el modal
  document.getElementById('botonAbrirModal').addEventListener('click', function() {
    document.getElementById('filtroCliente').value = '';
    document.getElementById('filtroVendedor').value = '';
    actualizarModal('', '');
  });

  document.getElementById('consultar').addEventListener('click', function() {
    let filtroCliente = document.getElementById('filtroCliente').value;
    let filtroVendedor = document.getElementById('filtroVendedor').value;
    actualizarModal(filtroCliente, filtroVendedor);
  });
    

  document.getElementById('botonImprimirPDF').addEventListener('click', function() {
    // Puedes usar los mismos parámetros que usas para la vista de JSON
    const filtroCliente = document.getElementById('filtroCliente').value;
    const filtroVendedor = document.getElementById('filtroVendedor').value;

    let params = new URLSearchParams({
        cliente: filtroCliente,
        vendedor: filtroVendedor
    });

    window.open(`/reporte-cuentasxcobrar-pdf/?${params.toString()}`);
});

document.addEventListener('DOMContentLoaded', function() {
    const inputCliente = document.getElementById('filtroCliente');
    const resultadosBusqueda = document.querySelector('.resultados-busqueda');

    inputCliente.addEventListener('input', function() {
        const query = this.value;
        if (query.length < 2) {
            resultadosBusqueda.innerHTML = '';
            return;
        }

        fetch(`/buscar-cliente2?q=${encodeURIComponent(query)}`)
            .then(response => response.json())
            .then(clientes => {
                resultadosBusqueda.innerHTML = '';
                clientes.forEach(cliente => {
                    const div = document.createElement('div');
                    div.textContent = cliente.nombre;
                    div.addEventListener('click', function() {
                        inputCliente.value = this.textContent;
                        resultadosBusqueda.innerHTML = '';
                    });
                    resultadosBusqueda.appendChild(div);
                });
            });
    });

    document.addEventListener('click', function(e) {
        if (e.target !== inputCliente) {
            resultadosBusqueda.innerHTML = '';
        }
    });
});

</script>

<script>
  $(document).ready(function() {
      $('#filtro-nombre').on('keyup', function() {
          var filtro = $(this).val().toLowerCase();
          $('tbody tr').each(function() {
              var clienteNombre = $(this).find('td:first').text().toLowerCase();
              if (clienteNombre.indexOf(filtro) === -1) {
                  $(this).hide();
              } else {
                  $(this).show();
              }
          });
      });
  });

  </script>
  

 <style>
  .modal-header {
    background-color: #17a2b8; /* Replace with the actual color code */
}

.modal-title {
    color: #000000; /* Replace with the actual color code */
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f5f5f5; /* Replace with the actual color code */
}

.btn-danger {
    background-color: #dc3545; /* Replace with the actual color code */
    border-color: #dc3545; /* Replace with the actual color code */
}

#CuentascxcModal .modal-body {
  max-height: 500px; /* Altura máxima en píxeles */
  overflow-y: auto; /* Muestra una barra de desplazamiento si el contenido excede la altura máxima */
}

  .modal-dialog-custom {
  max-width: 90%; /* O cualquier otro valor que prefieras */
  margin: 30px auto; /* Centra el modal horizontalmente */
}

/* Puedes también asegurarte de que el modal no sea más ancho que la pantalla */
@media (min-width: 992px) {
  .modal-dialog-custom {
    max-width: 80%; /* O cualquier otro valor que prefieras */
  }
} 


/* Estilo para la tabla y el encabezado */
#CuentascxcModal .modal-body {
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}

#CuentascxcModal table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
  border-collapse: collapse; /* Opcional: para que los bordes de la tabla se vean mejor */
}

#CuentascxcModal thead th {
  position: sticky;
  top: 0; /* Ajusta esto si hay algún otro elemento fijo en la parte superior, como un menú de navegación */
  background: #17a2b8; /* O el color de fondo que desees, para evitar que se vea contenido a través del encabezado */
  color: white;
  z-index: 10; /* Asegura que el encabezado se muestre por encima del contenido al desplazarse */
}

#CuentascxcModal thead {
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); /* Opcional: agrega sombra para un efecto de elevación */
}

.th-header {
  background-color:#17a2b8; /* Cambia esto por el color de fondo que prefieras */
  color: white; /* Color del texto */
}

.th-espacio {
  background-color: white; /* Cambia esto por el color de fondo que prefieras */
  color: white; /* Color del texto */
}

.th-titulo{
  background-color: white;
}

.lista-documentos{
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: white;
    }
.cliente-nombre{
  background-color: #dcfff9;
}
    th, td {
        padding: 8px;
        text-align: left;
    }
    .no-border td, .no-border th {
        border: none;
    }
    .border-top {
        border-top: 1px solid black;
    }
    .resumen {
        background-color: #e7f4f9;
        font-weight: bold;
    }
    .text-right {
        text-align: right;
    }
    /* Otros estilos */

    .resultados-busqueda {
    position: absolute;
    top: 100%; /* Asegúrate de que top esté configurado para posicionarlo debajo del input */
    left: 0;
    width: 100%;
    background-color: white;
    color: black;

    /* Otros estilos... */
}

.resultados-busqueda div:hover {
    background-color: #f0f0f0;
} 

.form-group {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    margin-bottom: 10px; /* Añade un poco de espacio entre los grupos */
    position: relative;
    color: white;
}

.form-group label {
    margin-bottom: 5px; /* Añade un poco de espacio entre la etiqueta y el campo de entrada */
}

/* Opcional: Añadir media queries para ajustar para pantallas más pequeñas */
@media (max-width: 600px) {
    .form-group {
        width: 100%; /* Ajusta el ancho en dispositivos más pequeños */
    }
}
 </style>     


<style>
  /*estilo para boton abrir reporte y buscar cliente*/
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h4 {
    margin-top: 10;
    margin-left: 25px;
  }

  /* Estilo para el botón "Abrir Reporte" */
  #botonAbrirModal {
    margin-top: 10px;
    margin-right: 25px;
  }
  .form-control{
    margin-left: 25px;
  }
</style>

<style>
.scrollable-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  max-height: 20cm; /* Altura máxima del contenedor */
  overflow: auto; /* Permite desplazamiento vertical y horizontal si es necesario */
  border: 1px solid #ccc;
}

.data-clientes {
  width: 40cm; /* Ancho de la tabla, asegúrate de que esto se ajusta a tus necesidades */
  border-collapse: collapse;
  margin: auto; /* Centra la tabla horizontalmente */
}

.clientes-head th {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 10;
  color: aliceblue;
}

.clientes-tfoot tr {
  position: sticky;
  bottom: 0;
  background-color: darkblue;
  z-index: 10;
  color: white;
}

.clientes-tbody tr:nth-child(odd) {
  background-color: white;
}

.clientes-tbody tr:nth-child(even) {
  background-color: #dcfff9;
}
  </style>
{% endblock %}
