<!-- ventas/ventas_credito_cliente.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Ventas al Crédito por Cliente</h2>
  <table>
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Cantidad Ventas</th>
        <th>Saldo por Cobrar</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente, datos in ventas_por_cliente.items %}
        <tr>
          <td>{{ cliente.nombre }}</td>
          <td>{{ datos.ventas|length }}</td>
          <td>{{ datos.total_credito }}</td>
          <td>
            <!-- Acciones como botones o enlaces -->
            <a href="{% url 'Ventas:lista_creditos' cliente.id %}">Ver Detalles</a>
          </td>

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
