{% extends "base.html" %}

{% block title %}
Lista de Proveedores
{% endblock %}

{% block content %}
<h2>Lista de Proveedores</h2>

<div class="row">
    <br>
    <div class="col-md-6">
      <h4>Buscar por nombre:</h4>
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="filtro_nombre" id="search-input" placeholder="Ingrese el nombre...">
      </div>
    </div>
    <div class="col-md-6 text-right">
        <a href="{% url 'Proveedor:proveedor-create' %}" class="btn btn-primary">Crear Proveedor</a>
    </div>
  </div>

<table class="table">
    <thead>
        <tr>
            <th>NIT</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Contacto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
        <tr>
            <td>{{ proveedor.nit }}</td>
            <td>{{ proveedor.nombre }}</td>
            <td>{{ proveedor.direccion }}</td>
            <td>{{ proveedor.telefono }}</td>
            <td>{{ proveedor.correo }}</td>
            <td>{{ proveedor.contacto }}</td>
            <td>
                <a href="{% url 'Proveedor:proveedor-edit' proveedor.id %}">Editar</a> | <!-- Asegúrate de tener la URL proveedor-edit configurada -->
                <a href="{% url 'Proveedor:proveedor-delete' proveedor.id %}">Eliminar</a> <!-- Y la URL proveedor-delete también -->
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No hay proveedores registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#search-input').on('keyup', function() {
            var filtro = $(this).val().toLowerCase();
            $('tbody tr').each(function() {
                var nit = $(this).find('td:nth-child(1)').text().toLowerCase();
                var nombre = $(this).find('td:nth-child(2)').text().toLowerCase();
                
                if (nit.includes(filtro) || nombre.includes(filtro)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
    </script>

<style>
    /*estilo para boton crear producto y buscar producto*/
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    h4 {
      margin-top: 10;
      margin-left: 25px;
    }
  
    /* Estilo para el botón "Abrir Reporte" */
    .btn-primary {
      margin-top: 10px;
      margin-right: 25px;
    }
    .form-control{
      margin-left: 25px;
    }
  </style>
    
{% endblock %}
