<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">    
</head>

{% block content %}
<div class="container">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" {% if success or error_message%}style="display: none;" {% endif %}>Actualizar Proveedor</button>
</form>

{% if success %}
<div id="modalSuccess" class="container modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>{{ message }}</p>
  </div>
</div>
{% endif %}

{% if error_message %}
<div id="modalError" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>{{ error_message }}</p>
</div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'js/Success.js' %}"></script>
</div>
{% endblock %}
