{% extends "base.html" %}

{% block title %}
Lista de Proveedores
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
<style>
/* Estilos adicionales para el modal */
/* CSS global */
.swal-popup.my-custom-modal-class {
      background-color: #E4E9F7 !important;
}
</style>

<h1>Lista de Proveedores</h1>



<div class="row">
    <br>
    <div class="col-md-6">
      <h4>Buscar por nombre:</h4>
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="filtro_nombre" id="search-input" placeholder="Ingrese el nombre...">
      </div>
    </div>
    <div class="col-md-6 text-right">
        <a href="#" id="crearProveedor" class="btn btn-primary">Crear Proveedor <i class='icon-prefix bx bxs-truck' style="padding: 3px; border-radius: 5px;"></i></a>
    </div>
  </div>

<table class="table">
    <thead>
        <tr>
            <th>NIT</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Contacto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
        <tr>
            <td style="text-align: left;">{{ proveedor.nit }}</td>
            <td style="text-align: left;">{{ proveedor.nombre }}</td>
            <td style="text-align: left;">{{ proveedor.direccion }}</td>
            <td style="text-align: center;">{{ proveedor.telefono }}</td>
            <td style="text-align: left;">{{ proveedor.correo }}</td>
            <td style="text-align: left;">{{ proveedor.contacto }}</td>
            <td>
                <a href="#" class="editar-btn btn btn-warning"  data-userid="{{ proveedor.id }}">Editar</a>  <!-- Asegúrate de tener la URL proveedor-edit configurada -->
                <a href="#" class="eliminar-btn btn btn-danger"  data-userid="{{ proveedor.id }}">Eliminar</a> <!-- Y la URL proveedor-delete también -->
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No hay proveedores registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <ul class="pagination">
        {% if proveedores.has_previous %}
            <li class="waves-effect">
                <a href="?page=1" class="start">
                    << Inicio
                </a>
            </li>
            <li class="waves-effect">
                <a href="?page={{ proveedores.previous_page_number }}" class="prev">
                    < Atrás
                </a>
            </li>
        {% endif %}
  
        {% for i in proveedores.paginator.page_range %}
            {% if proveedores.number == i %}
                <li class="active">
                    <span>{{ i }}</span>
                </li>
            {% elif i > proveedores.number|add:'-3' and i < proveedores.number|add:'3' %}
                <li class="waves-effect">
                    <a href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
  
        {% if proveedores.has_next %}
            {% if proveedores.number|add:'3' < proveedores.paginator.num_pages %}
                <li class="waves-effect">
                    <span>...</span>
                </li>
            {% endif %}
            <li class="waves-effect">
                <a href="?page={{ proveedores.next_page_number }}" class="next">
                    Siguiente >
                </a>
            </li>
            <li class="waves-effect">
                <a href="?page={{ proveedores.paginator.num_pages }}" class="last">
                    Última Página >>
                </a>
            </li>
        {% endif %}
    </ul>
  </div>


<!-- Script para manejar la ventana flotante -->
<script>
    $(document).ready(function () {
        // Al hacer clic en "Crear Proveedor"
        $("#crearProveedor").click(function () {
            var formularioSrc = "{% url 'Proveedor:proveedor-create' %}";

            // SweetAlert para mostrar el modal
            const swalInstance = Swal.fire({
                title: 'Crear Proveedor',
                html: `<iframe src="${formularioSrc}" width="100%" height="500vh" frameborder="0" style="max-width: 100%;"></iframe>`,
                showCloseButton: true,
                showConfirmButton: false,
                customClass: {
                    container: 'swal-container',
                    popup: 'swal-popup my-custom-modal-class',
                },
                didClose: () => {
                    // Recargar la página completa después de cerrar la ventana flotante
                    location.reload();
                },
            });

            return false;
        });

        // Al hacer clic en "Editar"
        $(document).on('click', '.editar-btn', function() {
    var proveedorId = $(this).data('userid');
    var formulario = "{% url 'Proveedor:proveedor-edit' 0 %}".replace('0', proveedorId);

    // SweetAlert para mostrar el modal
    Swal.fire({
        title: 'Editar Proveedor',
        html: `<iframe src="${formulario}" width="100%" height="500vh" frameborder="0" style="max-width: 100%;"></iframe>`,
        showCloseButton: true,
        showConfirmButton: false,
        customClass: {
            container: 'swal-container',
            popup: 'swal-popup my-custom-modal-class',
        },
        didClose: () => {
            // Recargar la página completa después de cerrar la ventana flotante
            location.reload();
        },
    });
    return false;
});


        // Al hacer clic en "Eliminar"
        $(document).on('click', '.eliminar-btn', function() {
    var proveedorId = $(this).data('userid');
    var formulario = "{% url 'Proveedor:proveedor-delete' 0 %}".replace('0', proveedorId);

    // SweetAlert para mostrar el modal
    Swal.fire({
        title: 'Eliminar Proveedor',
        html: `<iframe src="${formulario}" width="100%" height="500vh" frameborder="0" style="max-width: 100%;"></iframe>`,
        showCloseButton: true,
        showConfirmButton: false,
        customClass: {
            container: 'swal-container',
            popup: 'swal-popup my-custom-modal-class',
        },
        didClose: () => {
            // Recargar la página completa después de cerrar la ventana flotante
            location.reload();
        },
    });
    return false;
});

    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
    $('#search-input').on('keyup', function() {
        var searchTerm = $(this).val();

        $.ajax({
            url: '/buscar-proveedor3', // Asegúrate de que esta ruta coincida con tu URL en Django
            type: 'GET',
            data: { search: searchTerm },
            success: function(response) {
                // Actualiza solo el cuerpo de la tabla con la respuesta del servidor
                $('table tbody').html($(response).find('table tbody').html());
            },
            error: function(xhr, status, error) {
                console.error("Error en la solicitud AJAX: ", error);
            }
        });
    });
});
    </script>

<style>
    /*estilo para boton crear producto y buscar producto*/
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    h4 {
      margin-top: 10;
      margin-left: 25px;
    }
  
    /* Estilo para el botón "Abrir Reporte" */
    .btn-primary {
      margin-top: 10px;
      margin-right: 25px;
    }
    .form-control{
      margin-left: 25px;
    }
  </style>
    
{% endblock %}
