{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DMLR System{% endblock %}</title>
    <!-- Enlazar a Bootstrap desde CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Aplicacion/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}"> 

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>   
</head>

<body>

    <nav class="sidebar closes">
        <div class="logo-details">
            <i class='bx bx-command text-white'></i>
            <span class="logo_name">DMLR System</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="{% url 'Aplicacion:home' %}" class="flex items-center">
                    <i class='bx bx-home'></i>
                    <span class="link_name">Inicio</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Inicio</a></li>
                </ul>
            </li>
            
            {% if user.is_authenticated %}
            <li>
                <div class="iocn-link">
                    <a href="#" class="flex items-center">
                        <i class='bx bx-user'></i>
                        <span class="link_name">Mantenedor</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Mantenedor</a></li>
                    <li><a href="{% url 'Usuarios:list_users' %}">Usuarios</a></li>
                    <li><a href="{% url 'Vendedor:lista_vendedores' %}">Vendedores</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#" class="flex items-center">
                        <i class='bx bx-package'></i>
                        <span class="link_name">Productos</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Productos</a></li>
                    <li><a href="{% url 'Producto:listar_productos' %}">Productos</a></li>
                    <li><a href="{% url 'Producto:listar_productos_fabricacion' %}">Fabricación</a></li>
                </ul>
            </li>
            <li>
            <div class="iocn-link">
                <a href="#" class="flex items-center">
                    <i class='bx bxs-truck'></i>
                    <span class="link_name">Proveedores</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Proveedores</a></li>
                    <li><a href="{% url 'Proveedor:proveedor-list' %}">Proveedores</a></li>
                    <li><a href="{% url 'Proveedor:proveedor-list' %}">Cuentas por pagar</a></li>
                    <li><a href="{% url 'Proveedor:proveedor-list' %}">Abonos y Pagos</a></li>
                </ul>
            </li>
            <li>
            <div class="iocn-link">
                <a href="#" class="flex items-center">
                    <i class='bx bx-group'></i>
                    <span class="link_name">Clientes</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Clientes</a></li>
                    <li><a href="{% url 'Clientes:cliente-list' %}">Clientes</a></li>
                    <li><a href="{% url 'Ventas:ventas_credito_cliente' %}">Cuentas por cobrar</a></li>
                    <li><a href="{% url 'Ventas:cobros-list' %}">Abonos y pagos</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#" class="flex items-center">
                        <i class='bx bxs-cart-add'></i>
                        <span class="link_name">Ventas</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Ventas</a></li>
                    <li><a href="{% url 'Ventas:AddSale' %}">Crear Venta</a></li>
                    <li><a href="{% url 'Ventas:lista_ventas' %}">Ver Ventas</a></li>
                </ul>
            </li>
            <li>
            <div class="iocn-link">
                <a href="#" class="flex items-center">
                    <i class='bx bx-archive-in'></i>
                    <span class="link_name">Compras</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Compras</a></li>
                    <a href="#">Compras</a>
                </ul>
            </li>
            <li>
                <a href="#" class="flex items-center">
                    <i class='bx bx-bar-chart-square'></i>
                    <span class="link_name">Reportes</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Reportes</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="flex items-center">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Configuración</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Configuración</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="/static/index/img/nutral-logo.png" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Cerrar Sesión</div>
                        <div class="job"> </div>
                    </div>
                    <a href="{% url 'Aplicacion:logout' %}">
                        <i class='bx bx-log-out'></i>
                    </a>
                </div>
            {% else %}
            <div class="profile-details">
                <div class="profile-content">
                    <img src="/static/Aplicacion/img/nutral-logo.png" alt="profileImg">
                </div>
                <div class="name-job">
                    <a href="{% url 'Aplicacion:login' %}">
                        <div class="profile_name">Iniciar Sesión</div>
                        <div class="job"> </div>
                    </a>
                </div>
                <a href="{% url 'Aplicacion:login' %}">
                    <i class='bx bx-log-out'></i>
                </a>
            </div>
            {% endif %}
        </li>
        </ul>
    </nav>

    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
                <span class="text">
            </span>
        </div>

                <!-- Main here -->
        <main class="main-content">
            {% block content %}
        <!-- El contenido específico de cada página se insertará aquí -->
            {% endblock %}
        </main>

    </section>
    <!-- JavaScript y jQuery  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Tu script JavaScript personalizado -->
    <script src="{% static 'index/js/base.js' %}"></script>

</body>
</html>
